@use '../../sass/index.scss' as *;

.comment {
        &__idea {
            position: relative;
            padding: 2rem 0;
            button {
                margin: 0;
            }
            & > * {
                margin:2rem 0;
            }
            img {
                width: 5rem;
                height: 5rem;
                -o-object-fit: cover;
                   object-fit: cover;
                border-radius: 50%;
                margin-right:2rem;
            }

            h1 {
                font-size: 3rem;
            }

            
        }

        &__comment {
            &.reaction {
                display:none;
                width: 100%;
                &.active {
                    display: block;
                }
                img {
                    width: 4rem;
                    height: 4rem;
                }
            }
            & > * {
                margin:2rem 0;
            }
            &__txt {
                @include flex(center,flex-start);
                img {
                    width: 6rem;
                    height: 6rem;
                    -o-object-fit: cover;
                       object-fit: cover;
                    border-radius: 50%;
                    margin-right:2rem;
                }
                textarea {
                    width: 70%;
                    resize: none;
                    outline:none;
                    padding: 1rem 2rem 0rem 0;
                    font-size: 1.5rem;
                    border: none;
                    border-bottom: 1px solid #000;
                }
            }

            &__btn {
                width: 78%;
                @include flex(center,flex-end);
                &.reaction {
                    & > * {
                        margin-right: 1rem;
                    }
                }
            }
        }

        &__listComment {
            & > span {
                font-size: 2rem;
            }
        }

        &__userComment {
            @include flex(flex-start,flex-start);
            flex-direction:column; ;
            margin: 1rem 0;
            &__container {
                z-index: 90;
            }
            &__container,&__reaction {
                @include flex(flex-start,flex-start);
                width: 100%;
                &:hover {
                    .comment__commentContent__body__icon {
                        opacity: 1;
                    }
                }
            }

            &__reaction {
                @include flex(flex-start,flex-start);
                margin-left: 10%;
                padding: 1rem;
                border-left: 1px solid #ccc;
                width: 100%;
                img {
                    width: 4rem;
                    height: 4rem;
                }

                &.active {
                    #reaction {
                        -webkit-animation: FadeBackGround ease-in-out .8s;
                                animation: FadeBackGround ease-in-out .8s;
                    }
                }
            }

            &__hidden {
                position: relative;
                display: none;
                padding:1rem 1rem 1rem 10rem;
                cursor: pointer;
                width: 80%;
                &.active {
                    display: block;
                }
                span {
                    max-width:20%;
                    position: relative;
                    font-size: 1.6rem;
                    font-weight: bold;
                &::before {
                    content: " ";
                    position: absolute;
                    height:.5px;
                    width: 50%;
                    top: 50%;
                    left: -55%;
                    background-color: #000;
                }
                &::after {
                    content: " ";
                    position: absolute;
                    height:.5px;
                    width: 100%;
                    top: 50%;
                    right: -105%;
                    background-color: #000;
                }
            }
            }
        }

        &__commentContent {
            max-width: 80%;
            font-size: 1.5rem;
            flex: 1;
            & > * {
                margin-bottom: .8rem;
                word-break: break-all;
            }

            &__txt {
                span {
                    line-height: 1.3;
                }
            }
            

            &__container {
                @include flex(center,flex-start)
            }
            // <---------------->
            &__body {
                position: relative;
                display:inline-block;
                background-color: #f5f5f5;
                padding: 1.5rem;
                border-radius: 2rem;
                min-width: 15rem;
                max-width: 60rem;
               
                & > * {
                    margin-bottom: 1rem;
                }

                &__more {
                    position: relative;
                    transform:translateX(50%);
                }

                &__icon {
                    @include flex(center,center);
                    position: relative;
                    opacity: 0;
                    width: 3rem;
                    height: 3rem;
                    border-radius: 50%;
                    cursor: pointer;
                    svg {
                        opacity: .5;
                    }
                    &:hover {
                        background-color: rgb(239, 239, 239);
                        svg {
                            opacity: 1;
                        }
                    }
                    &::before {
                        content: " ";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        // background-color:red;
                    }
                }

                &__setting {
                    position: absolute;
                    display: none;
                    background-color: rgb(223, 223, 223);
                    border-radius:.5rem;
                    padding:.5rem;
                    min-width:100%;
                    right:0;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 50%);
                    min-width: 20rem;
                    -webkit-animation: Fade ease .2s;
                            animation: Fade ease .2s;
                    h2 {
                        cursor: pointer;
                        padding:1rem;
                        width: 100%;
                        border-radius:.5rem;
                        font-weight: normal;
                        font-size: 1.5rem;
                        -webkit-user-select: none;
                           -moz-user-select: none;
                            -ms-user-select: none;
                                user-select: none;
                        color: $txt-color;
                        &:hover {
                            background-color: rgb(243, 243, 243);
                        }
                    }
                    &.active {
                        display: block;
                    }
                }
            }

            // <---------------->
            &__footer {
                margin-top: 2rem;
                img {
                    margin: 0;
                    &:hover {
                        transform: scale(1.5);
                        cursor:pointer;
                    }
                }
                span {
                    line-height: 1.3;
                    color:$user-none;
                }
                p {
                    color: rgb(169, 163, 163);
                    cursor:default;
                    & > * {
                        margin:0 1rem;
                    }
                    .text {
                        color: $main-color;
                        cursor: pointer;
                        -webkit-user-select: none;
                           -moz-user-select: none;
                            -ms-user-select: none;
                                user-select: none;
                        &:hover {
                            text-decoration: underline;
                        }

                        &.active {
                            font-weight: bold;
                        }
                    }
                }
            }
            // <---------------->
            &__inter {
                @include flex(center,center);
                display: none;
                position: absolute;
                right: 0;
                transform: translateX(10%);
                padding:0.3rem .5rem;
                background: #fff;
                border-radius: 4rem;
                max-width: 20rem;
                box-shadow: 0 1px 3px 0 #00000033;
                cursor: pointer;
                &:hover {
                    .comment__commentContent__inter__toolbar {
                        display:block;
                    }
                }
                &.active {
                    display: inline-flex;
                }
                &__img {
                    @include flex(center,center);
                    div {
                        width:2rem;
                        height:2rem;
                        border-radius: 50%;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                        outline:3px solid #fff;
                    }
                }

                &__count {
                    margin-left:.5rem;
                    font-size: 1.4rem;
                }

                &__toolbar {
                    display: none;
                    position: absolute;
                    padding: .5rem 1rem;
                    background-color: rgba(225, 225, 225,.8);
                    min-width: 15rem;
                    // transform: translate(0,10rem);
                    bottom: 3rem;
                    border-radius:1rem;
                    box-shadow:0 4px 7px -1px rgb(0 0 0 / 20%);
                    ul {
                        li {
                            font-size: 1.2rem;
                            margin:1rem 0;
                            // text-align:center;
                        }
                    }
                }
            }
            
        }

        &.active {
            #comment {
                -webkit-animation: FadeBackGround ease-in-out .8s;
                        animation: FadeBackGround ease-in-out .8s;
            }
        }

        &__loading {
            @include flex(center,center);
            display: none;
            width: 50%;
            margin-top: 1rem;
            &.active {
                display: flex;
            }
            span {
                width: 3rem!important;
                height: 3rem!important;
                color: $hover-txt-color;
            }
        }
}


.tippy-box[data-theme~="custom"] {
    border-radius: 4rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 #00000033;
    min-width: 36rem;
}

.emoji-icon {
    width:3.5rem;
    &:hover {
        transform: scale(1.5);
        cursor:pointer;
    }
}

@-webkit-keyframes Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes FadeBackGround {
    from {
        background-color: rgba(12, 199, 237,1);
    }
    to {
        background-color: rgba(12, 199, 237, 0.133)
    }
}

@keyframes FadeBackGround {
    from {
        background-color: rgba(12, 199, 237,1);
    }
    to {
        background-color: rgba(12, 199, 237, 0.133)
    }
}