@use '../../sass/index.scss' as *;

.new {
    position: relative;
    top: 1rem;
    display: flex;
    min-height:100vh;
    &__container {
        width: 100%;
        @include tablet {
            margin: 8rem auto 0 auto;
            width: 90%;
        }
    }

    &__body {
        @include flex(flex-start,space-around);
        @include tablet {
            flex-direction: column;
        }
        margin:2rem 0;
        & > * {
            margin: 0 1rem;
        }
        &__thumbnail {
            h2 {
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }
            img {
                max-height: 20rem;
                margin: 1rem 0 2rem 0;
                padding:1rem;
                outline: 2px #ccc solid;
                border-radius: 1rem;
            }
        }

        &__blog {
            & > * {
                margin-bottom: 1.5rem;
            }
            &__title {
                margin-top: 5rem;
                input {
                    width: 100%;
                    padding:1.5rem 2rem;
                    font-size: 2.5rem;
                    border: 2px #e5e7eb solid;
                }
            }
    
            &__category {
                &__input {
                    min-height: 4rem;
                    margin-top: 1.5rem;
                    padding: 1rem 1.5rem;
                    border: 2px #e5e7eb solid;
                    max-width:50vw;
                    flex-wrap: wrap;
                }

                &__select {
                    & > * {
                        margin-right: 1.3rem;
                        padding: 1rem 2rem;
                        border-radius: .5rem;
                        background-color: transparent;
                        color: $dark-txt-color;
                        font-size: 1.5rem;
                        text-transform:capitalize;
                    }
                    select {
                        option {
                            color:$txt-color;
                        }
                    }
                    &.program {
                        #program {
                            display: inline-block;
                        }
                    }

                    &.life {
                        #life {
                            display: inline-block;
                        }
                    }
                }
            }
    
            &__content {
                margin-bottom: 3rem;
                // h1,h2,h3,h4,h5,h6,span,p {
                //     color: $txt-color;
                // }
                .content-area {
                    // width: 80%;
                    max-width: 50vw;
                    @include tablet {
                        max-width: 100%;
                    }
                    // min-width: 50vw;
                    .ql-editor {
                        // overflow: hidden;
                        // overflow-y: clip;
                        max-height: 50vh;
                        min-height: 50vh;
                    }
                }
            }
        }

    }
}

#program,#life {
    display: none;
}

.MuiChip-root {
    margin: .8rem!important;
}