@use './sass/index.scss' as *;

.footer {
    height: 40vh;
    width: 100%;
    margin-top: 10rem;
    background-color: #000;
}

.progressBar {
    pointer-events: none;
    opacity: 1;
    transition: opacity 200ms ease 0s;
    &__input {
        position: fixed;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100vw;
        height: 5px;
        background-color: #09d3f7;
    }
}

.MuiSpeedDialIcon-root {
    color: #fff;
}