@use '../../sass/index.scss' as *;

.login {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10000;
    @include flex(center, center);
    &_bg {
        width: 70%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        @include mobile {
            width: 100%;
            background-image: url("../../assets/img/bg-mobile.webp")!important;
        }
        @include tablet {
            width: 100%;
            background-image: url("../../assets/img/bg-mobile.webp")!important;
        }
    }
    &_container {
        width:30%;
        @include mobile {
            position: absolute;
            background-color: #fff;
            width:80%;
            border-radius:3rem;
            box-shadow: $box-shadow;
        }
        @include tablet {
            position: absolute;
            background-color: #fff;
            width:60%;
            border-radius:3rem;
            box-shadow: $box-shadow;
        }
        & > *{
            margin:  2rem;
        }
        h1 {
            margin-left: 3rem;
            font-size: 3rem;
            font-weight: bolder;
        }
        form {
            label {
                font-size: 1.8rem;
                margin: 1rem 0;
                text-transform: capitalize;
            }
            input {
                width: 90%;
                margin: 1rem 0;
                padding: 1rem 1rem;
                border-radius: .8rem;
                background-color: rgb(236, 236, 236);
                &:invalid[focus="false"] ~ span {
                    display: block;
                }
    
                & ~ span {
                    color: red;
                    font-size: 1.1rem;
                    display: none;
                }
            }
            & > * {
                margin: 1.4rem;
            }
            button {
                cursor: pointer;
                background-color: $main-color;
                border-radius: 0.6rem;
                color:#fff;
                font-weight: bold;
            }
        }
    }

    &_footer {
        font-size: 2rem;
        margin-left: 3rem;
        button {
            margin-left: 1rem;
            background-color:transparent;
            cursor: pointer;
            color: $main-color;
            font-size:1.8rem;
            font-weight: bold;
        }
    }
}