@use '../../sass/index.scss' as *;

.login {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 10000;
    @include flex(center, center);
    &__bg {
        width: 100%;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    &__container {
        position: absolute;
        background-color: #fff;
        width:50%;
        border-radius:1rem;
        box-shadow: $box-shadow;
        @include mobile {
            width: 90% !important;;
        }
        @include tablet {
            width:60%;
        }
        & > *{
            margin:  2rem;
        }
        h2 {
            margin-left: 3rem;
            font-size: 2.5rem;
            text-align: center;
            color: $hover-txt-color;
            font-weight: bolder;
        }

        h1 {
            color:$txt-color;
            font-size: 3rem;
            text-align: center;
        }
        form {
            label {
                font-size: 1.8rem;
                margin: 1rem 0;
                text-transform: capitalize;
            }
            input {
                width: 90%;
                margin: 1rem 0;
                padding: 1rem 1rem;
                border-radius: .8rem;
                background-color: rgb(236, 236, 236);
                &:invalid[focus="false"] ~ span {
                    display: block;
                }
    
                & ~ span {
                    color: red;
                    font-size: 1.1rem;
                    display: none;
                }
            }
            & > * {
                margin: 1.4rem;
            }
            button {
                cursor: pointer;
                background-color: $main-color;
                border-radius: 0.6rem;
                color:#fff;
                font-weight: bold;
            }
        }
    }

    &__society {
        width: 70%;
        margin:auto;
        @include flex(center,center);
        flex-direction: column;
        &__text {
            span {
                font-size: 1.5rem;
                text-transform:uppercase;
            }
        }
        &__item {
            width: 100%;
            border-radius:4rem;
            border: 1px solid #ccc;
            padding: 1rem 2rem;
            margin-bottom: 1rem;
            @include flex(center,flex-start);
            &:hover {
                background-color:$hover-color;
                cursor: pointer;
            }
        }
        img {
            width: 8%;
            border-radius:50%;
        }
        span {
            margin-left: 1rem;
            color:$txt-color;
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    &__footer {
        font-size: 2rem;
        margin-left: 3rem;
        button {
            margin-left: 1rem;
            background-color:transparent;
            cursor: pointer;
            color: $main-color;
            font-size:1.8rem;
            font-weight: bold;
        }
    }
}