$topbar-shirk: 50px;
$topbar-tablet: 50px;
$header-mobile: 60px;
$header: 70px;

$mobile-width: 480px;
$tablet-mini-width: 768px;
$tablet-width: 992px;
$pc-mini-width: 1250px;

$white:#fff;
$main-bg: #fff;
$txt-color:rgb(17, 17, 17);
$user-none:#797171;
$main-color: rgb(70, 181, 224); 
$second-color: #555;
$third-color: #ff0a54;
$para-color: rgb(58, 51, 51);

// label
$life-color: #fd2a42;
$program-color: #00a2f9;

$box-shadow:0 -4px 32px rgb(0 0 0 / 20%);