$topbar-shirk: 50px;
$topbar-tablet: 50px;
$header-mobile: 60px;
$header: 70px;

$mobile-width: 480px;
$tablet-mini-width: 768px;
$tablet-width: 992px;
$pc-mini-width: 1250px;

$dark-color: #1b1718;
$dark-txt-color: #fbe2cb;


$white:#fff;
$main-bg: #fff;
$txt-color:#000;
$txt-blur-color:#666;
$user-none:#797171;
$main-color: rgb(70, 181, 224); 
$bg-color: #30292b;
$bg-second-color: rgb(53, 49, 50);
$third-color: #d1a162;
$para-color: rgb(58, 51, 51);
$border-color:#4a423a;
$hover-txt-color:#e2ae69;
$hover-color:#d2d2d2;
$search-input-color:#1f1f1fd4;

// label
$field-color: #d1a162;

$box-shadow:0 -4px 32px rgb(0 0 0 / 20%);