@use '../../sass/index.scss' as *;

.home {
    position: relative;
    top: 1rem;
    display: flex;
    min-height:410vh;
    @include mobile {
        min-height:initial;
    }

    @include tablet {
        display:inherit;
        min-height:435vh;
    }

    // @include tablet-mini {
    //     display:inherit;
    //     min-height:380vh;
    // }
    
}