@use '../../sass/index.scss' as *;

.body {
    position: relative;
    flex:1 1;
    &__content {
        min-height:50vh;
        position: absolute;
        width: 100%;
        overflow: hidden;
        @include mobile {
            position: static;
        }
    }

    &__trailer {
        @include tablet {
            margin-top: 8rem;
        }
    }

    &__loading {
        display: none;
        &.active {
            display: block;
        }
    }

    &__post {
        // First form
        &__firstForm {
            margin-top: 2rem;
            @include flex(flex-start,center);
            &__sidebar {
                flex: 1 1;
                margin:0 2rem;
            }

            @include mobile {
                flex-direction: column;
                &__sidebar {
                    margin: 0;
                }
            }

            @include tablet {
                flex-direction: column;
                &__sidebar {
                    margin: 0;
                }
            }
        }

        // Second form
        &__secondForm {
            margin-bottom: 2rem;
            .swiper {
                overflow: initial;
            }
            .swiper-slide {
                transform: translateX(0)!important;
                @include mobile {
                    transform: translateX(0)!important;
                }

                @include tablet {
                    transform: translateX(0)!important;
                }
            }

            .swiper-button-prev,.swiper-button-next  {
                position: absolute;
                display: none;
                &::after {
                    font-size: 3rem!important;
                }
            }

            &__popular {
                padding:1rem;
                @include mobile {
                    padding: 0;
                }
            }

            &__img {
                padding-top:80%; 
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius:1.2rem
            }

            &__desc {
                @include flex(center,flex-start);
                & > * {
                    margin-right: 2rem;
                    font-size: 1.5rem;
                }
                &__content {
                    &__chip {
                        padding: 0 !important; 
                        border:initial!important;
                        border-radius:0!important;
                        background-color: transparent!important;
                    }
                    span {
                        text-transform:capitalize;
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: $field-color!important;
                    }
                }
                &__icon {
                    @include flex(center,flex-start);
                    span {
                        margin-left: .7rem;
                        color: $user-none;
                    }
                }
            }

            &__title {
                &:hover {
                    h1 {
                        color: $field-color;
                    }
                }
                h1 {
                    line-height: 1.5;
                    font-size: 1.6rem;
                    min-height:4rem;
                    cursor: pointer;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    transition:all ease-in-out .3s;
                }
            }

            &__item {
                & > * {
                    margin-bottom: 1.5rem;
                }
            }
        }

        // Third form
        &__thirdForm {
            @include flex(flex-start,center);
            @include mobile {
                flex-direction: column;
            }
            @include tablet {
                flex-direction: column;
                // &__container {
                //     flex-direction: column;
                //     & > * {
                //         margin-bottom: 1rem;
                //     }
                // }
            }
            .swiper {
                overflow: initial;
                margin-left: initial;
                max-width:40rem;
            }
            .swiper-button-prev {
                display: none;
            }

            .swiper-button-next {
                position: absolute;
                left: 100%;
                width: 45px;
                height: 45px;
                transform: translateY(-50%);
                margin-top: 0px;
                &::after {
                    font-size: 3rem!important;
                }
            }

            &__container {
                @include flex(center,flex-start);
                margin-top: 1rem;
                margin-bottom: 5.5rem;
                @include mobile {
                    flex-direction: column;
                    & > * {
                        margin: 2rem 0;
                    }
                }

                @include tablet {
                    & > * {
                        margin: 0 2rem;
                    }
                }
            }

            &__memorable {
                @include flex(flex-end,center);
                width: 100%;
                height: 40rem;    
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 1rem;
                overflow: hidden;
            }

            &__item {
                width: 100%;
                background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent 100%), linear-gradient(to top, rgba(0, 0, 0, 0.45), transparent 90%);
                padding: 2rem 3rem 1rem 3rem;
            }

            &__desc {
                @include flex(center,flex-start);
                & > * {
                    margin-right: 2rem;
                    font-size: 1.5rem;
                }
                &__content {
                    span {
                        color: #fff;
                        text-transform: capitalize;
                    }
                }
                &__icon {
                    @include flex(center,flex-start);
                    span {
                        margin-left: .7rem;
                        color: #fff;
                    }
                }
            }

            &__title {
                h1 {
                    color: #fff;
                    line-height: 1.5;
                    font-size: 2rem;
                    min-height:4rem;
                    cursor: pointer;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    transition:all ease-in-out .3s;
                    &:hover {
                        color: $hover-txt-color;
                    }
                }
            }

            &__item {
                & > * {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &__desc {
        width: 100%;
        height: 100%;
        padding: 1rem;
        .swiper-slide {
            transform: translateX(35%)!important;
            @include mobile {
                transform: translateX(0) !important;
            }

            @include tablet {
                transform: translateX(0) !important;
            }
        }
        & > * {
            // margin: 4rem 0;
            color: #fff;
        }

        h1 {
            font-size: 3rem;
        }

        span {
            line-height: 1.5rem;
            font-size: 1.5rem;
        }

        .btn {
            padding: 0;
            button {
                font-weight: bold;
                border-radius:2rem;
                padding:1rem 2rem;
                color: #fff;
                background-color: $main-color;
            }
        }
    }

    &__banner {
        position: relative;
        width: 100%;
        height: 20rem;
        margin:3rem 0;
        overflow: hidden;
        &__overlay {
            display: block !important;
        }
        &__img {
            @include flex(center,center);
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            -webkit-overflow-scrolling: touch;
            span {
                font-size: 4rem;
                color: #fff;
                z-index: 1000;
            }
        }
    }
}

.cart {
    padding: 3rem!important;
    text-align: center;
    border-radius: 1rem!important;
    span {
        position: absolute;
        transform:translate(-50%,-50%);
        font-weight: bold;
        color:#fff !important;
        text-transform: capitalize;
    }

}

.follow {
    width: 90%;
    margin:auto;
    &__image {
        padding: 2rem;
        img {
            border-radius: .5rem;
        }
    }

    &__social {
        border-top: 1px solid #000;
        padding: 2rem 2rem 0rem 2rem;
        &__item {
            a {
                @include flex(center,space-between);
                @include tablet {
                    @include flex(center,flex-start);
                    & > * {
                        margin:0 1rem;
                    }
                }
            }

            &__content {
                @include flex(flex-start,center);
                flex-direction: column;
                min-width: 8rem;
            }
            
            &__title {
                font-size: 1.5rem;
                margin: .5rem 0;
                text-transform: lowercase;
            }

            &__like {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
    }
}

.swiper-button-prev,.swiper-button-next {
    height:5rem !important;
    width:5rem !important;
    background-color: $hover-txt-color;
    border-radius: 50%;
    z-index: 10000!important;
    &::after {
        color: white;
        font-size: 20px!important;
    }
}


.skeleton {
    &__recent {
        flex: 2 1;
        margin-right: 2rem;
        @include tablet {
            width: 95%;
            margin: auto;
        }
    }

    &__sidebar {
        flex: 1 1;
        @include tablet {
            width: 95%;
            margin: auto;
            margin-top: 2rem;
        }
    }
}


