@use '../../../sass/index.scss' as *;

.list {
    position: relative;
    padding: 2rem;
    border-radius: .5rem;
    background-color:$bg-color;
    margin: 1rem auto;
    @include mobile {
        width:95%;
    }

    @include tablet {
        width:95%;
    }
    & > * {
        margin: 1rem 0;
    }
    &:nth-child(1) {
        flex: 2 1;
    }
    &__header {
        border-left: .4rem solid $hover-txt-color;
        padding-left: 1rem;
        margin-bottom: 2rem;
        overflow: hidden;
        h2 {
            width:fit-content;
            position: relative;
            font-size: 2.5rem;
            text-transform:capitalize;
            font-weight: bolder;
        }
        &.active {
            border-left: 0;
            padding-left: 0;
            h2 {
                position: relative;
                width:fit-content;
                font-size: 2.5rem;
                text-transform:capitalize;
                font-weight: bolder;
                @include tablet {
                    margin: auto !important;
                    &::before {
                        content: " ";
                        position: absolute;
                        right: 100%;
                        margin-right: 15px;
                        border-bottom: 2px solid $hover-txt-color;
                        transform: translateY(-80%);
                        top: 50%;
                        height: 3px;
                        width: 600rem;
                    }
                }
                &::after {
                    content: " ";
                    position: absolute;
                    left: 100%;
                    margin-left: 15px;
                    border-bottom: 2px solid $hover-txt-color;
                    transform: translateY(-80%);
                    top: 50%;
                    height: 3px;
                    width: 50%;
                    @include mobile {
                        width: 600rem;
                    }

                    @include tablet {
                        width: 600rem;
                    }
                }
            }
        }
    }

    &__post {
        margin-bottom: 2rem;
        overflow: hidden;
    }
}