@use '../../../sass/index.scss' as *;

.list {
    position: relative;
    padding: 0 1rem;
    & > * {
        margin: 1rem 0;
    }
    &:nth-child(1) {
        flex: 2 1;
    }
    &__header {
        border-left: .4rem solid red;
        padding-left: 1rem;
        margin-bottom: 2rem;
        h2 {
            width:fit-content;
            position: relative;
            font-size: 2.5rem;
            text-transform:capitalize;
            font-weight: bolder;
        }
        &.active {
            border-left: 0;
            padding-left: 0;
            h2 {
                position: relative;
                width:fit-content;
                font-size: 2.5rem;
                text-transform:capitalize;
                font-weight: bolder;
                &::after {
                    content: " ";
                    position: absolute;
                    height:3px;
                    width: 6rem;
                    top: 50%;
                    transform: translate(20%,-50%);
                    background-color: red;
                }
            }
        }
    }
}