@use "../../sass/index.scss" as *;

.header {
  position: relative;
  @include flex(center, space-between);
  padding: 0 2rem;
  height: $header;
  width: 100%;
  z-index: 1000;
  background-color: $bg-color;
  @include tablet {
    position: fixed;
  }
  & > * {
    height: 100%;
    flex: 1 1;
  }

  &__notification {
    &__icon {
      &.active {
          animation:ringBell ease-in 3s infinite;
      }
  }
  }

  &__logo {
    @include flex(center, flex-start);
    h2 {
      font-size: 3rem;
      color: $hover-txt-color;
    }
  }

  &__body {
    position: relative;
    flex: 2 1;
    @include flex(center, center);
    @include tablet {
      display: none;
    }
    &__search {
      & > * {
        padding: 0.5rem;
      }
      
      &.active {
        border: 1px solid $hover-txt-color;
      }
      border-radius: 4rem;
      @include flex(center, center);
      border: 1px solid $dark-txt-color;
      width: 60%;
      height: 60%;
      transition: border ease 0.2s;
      input {
        width: 85%;
        line-height: 2;
        background-color: $bg-color;
        font-size: 1.4rem;
        color:$dark-txt-color;
        border-radius: 4rem;
      }
    }
    &__result {
      z-index: 9999;
      position: absolute;
      display: none;
      background-color: #fff;
      box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
      border-radius: .5rem;
      width: 60%;
      background-color: $bg-second-color;
      top: 100%;
      overflow: hidden;
      margin: 0px;
      @include tablet {
        top: 0;
        position: static;
        width: 100%;
        margin-top: 2rem;
      }
      h2 {
        color: $dark-txt-color;
      }
      &.active {
        animation: Fade ease-in 0.2s;
        display: block;
      }
      &__title {
        padding: 2rem 0rem 1rem 0rem;
        margin:0 2rem;
        border-bottom: 1px solid rgb(124, 124, 124);
      }
      ul {
        padding: 0rem 2rem 2rem 2rem;
        max-height: 50vh;
        overflow-y: auto;
        li {
          font-size: 1.3rem;
          line-height: 1.4;
          margin: 3rem 0;
        }
      }

      &__item {
        @include flex(flex-start, center);
        @include tablet {
          @include flex(center, flex-start);
        }
        cursor: pointer;
        & > * {
          margin: 0 .7rem;
        }
        h2 {
          min-width: 34rem;
          max-width: 100%;
          font-size: 1.3rem;
          line-height: 1.4;
            // min-height: 5rem;
            // font-size: 2.2rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            @include mobile {
              min-width: unset;
              max-width: 100%;
            }
        }
        &__img {
          border-radius: 1rem;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 8rem;
          height: 8rem;
        }
      }
    }
  }

  &__actions {
    @include flex(center, flex-end);
    & > * {
      margin: 0 0.8rem;
    }
    & > span {
      font-size: 1.5rem;
      @include tablet {
        display: none;
      }
    }
    & > img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  &__account {
    &__avatar {
      @include tablet {
        display: none;
      }
      &.tablet {
        display: none;
        @include tablet {
          display: block;
        }
      }
    }

    &__body {
      h3,a,div {
        color:$txt-color;
      }
    }
    &__edit {
      position: fixed;
      display: none;
      right: 4rem;
      min-width: 25rem;
      top: 7rem;
      overflow: hidden;
      background-color: #fff;
      border-radius: 1rem;
      transition: all 0.3s ease;
      box-shadow: $box-shadow;
      transform-origin: top right;
      &.active {
        animation: Fade ease-in 0.2s;
        display: block;
        @include mobile {
          .overlay {
            display: none !important;
          }
        }
      }
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        top: -2rem;
        height: 4rem;
      }
      ul {
        li {
          padding:1rem 2rem;
          font-size: 1.4rem;
          text-transform: uppercase;
          cursor: pointer;
          @include flex(center,flex-start);          
          & > * {
            margin-right: 1rem;
          }
          &:hover {
            a,div {
              color: $hover-txt-color;
            }
          }
        }
      }
    }

    &__info {
      @include flex(center, center);
      flex-direction: column;
      position: relative;
      padding:1rem 2rem;
      & > img {
        width: 7rem !important;
        height: 7rem !important;
      }

      & > * {
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
      }

      span {
        color: rgb(158, 158, 158);
      }

      &::after {
        content: "";
        position: absolute;
        width: 80%;
        height: 1px;
        background-color: rgb(185, 185, 185);
        bottom: 0;
      }
    }

    &__login {
      button {
        text-transform: capitalize!important;
        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }

  // SEARCH MOBILE

  &__searchMobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $txt-color;
    background-color: $bg-color;
    opacity: 0.99;
    width: 100vw;
    height: 100vh;
    @include flex(center,center);
    // border-radius: 1rem;
    transform: translateY(-100%);
    transition: transform .3s ease;
    z-index: 99;
    &.active {
      transform: translateY(0);
    }
  }
  
  &__searchInner {
    width: 75%;
    border-radius: .6rem;
    overflow: hidden;
    @include mobile {
      width: 90%;
    }
  }

  &__searchInput {
    input {
      width: 100%;
      // height: 8vh;
      color: $dark-txt-color;
      font-size: 2rem;
      padding: 2rem 4rem;
      background-color: $search-input-color;
    }
  }

  &__searchClear {
    position: absolute;
    top: 2%;
    right: 2%;
  }
}

@keyframes Fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.mobile-menu {
  @include flex(center, center);
  flex-direction: column;
  & > * {
    margin-top: 2rem;
    width: 100%;
  }
  h3,span {
    color: $txt-color;
  }
  &__infor {
    @include flex(center, center);
    flex-direction: column;
    & > * {
      margin: 0.8rem 0;
      font-size: 2rem;
    }
  }

  ul {
    position: relative;
    &::before {
      top: 0;
      right: 0;
      left: 0;
      content: "";
      position: absolute;
      height: 1px;
      width: 85%;
      margin: auto;
      background-color: #ccc;
    }
    li {
      & > * {
        margin: 0 1rem;
      }
      @include flex(center, flex-start);
      font-size: 2rem;
      font-weight: bold;
      margin: 2rem;
      color: #333;
    }
  }
}

.tippy-box[data-theme~="noti"] {
    overflow: hidden;
    max-height:50vh;
    overflow-y: scroll;
    border-radius: 1rem;
    left: -20%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 3px 0 #00000033;
    min-width: 40rem;
}


.MuiPaper-root {
  width: 75%;
}

@keyframes ringBell {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  30% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
  33% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg)
  }
  36% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg)
  }
  39% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg)
  }
  42% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg)
  }
  45% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg)
  }
  48% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      opacity: 1
  }
  51% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg)
  }
  54% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg)
  }
  57% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }
}