@use '../../sass/index.scss' as *;

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    overflow: visible;
    &__container {
        @include flex(center,center);
        flex-direction: column;
        position: -webkit-sticky;
        position: sticky;
        top: 8rem;
        padding: 0 1rem;
        z-index: 8;
        & > * {
            padding: 1.5rem;
            margin-bottom: .5rem;
            cursor: pointer;
        }
        @include mobile {
            border-top: 1px solid #ccc;
            & > * {
                padding: 1rem 2rem;
                margin-bottom: .5rem;
                cursor: pointer;
            }
            position:fixed;
            background-color:#fff;
            justify-content:space-around;
            bottom: 0;
            right: 0;
            padding: 1rem 0;
            top: inherit;
            width: 100%;
            flex-direction: row;
        }
    }


    &__icon {
        @include flex(center,center);
        flex-direction: column;
        position: relative;
        border-radius:2rem;
        width: 8rem;
        height: 8rem;
        margin: 1rem 0;
        &:hover {
            background-color: #434343;
        }
        &:before {
            content: " ";
            position: absolute;
            height: 100%;
            width: 100%;
        }
        svg {
            margin:0 auto;
            padding: .5rem;
        }
        h4 {
            text-align: center;
            font-size: 1.4rem;
            font-weight:400;
        }

        &.active {
            background-color: #434343;
        }
    }

    &__add {
        .icon {
            @include flex(center,center);
            width: 4.5rem;
            height: 4.5rem;
            background-color: rgb(70, 181, 224);
            border-radius: 50%;
            @include mobile {
                width: 5.5rem;
                height: 5.5rem; 
            }
        }

        svg {
            transition: transform .2s ease;
        }
        &:hover {
            svg {
                transform: scale(1.4)
            }
        }
    }
}